.todo {
    margin-top: 100px;
    text-align: center;
}

.btnDesign{
    background-color: #527a7a;
    border: none;
    color: white;
    font: bold;
    padding: 6px;
    border-radius: 5px;
}

.fotterBtn{
    margin-right: 5px;
    border: none;
}